---

// Import the project scripts.
import { getIcon, getImage, getLanguage, getLanguages, getTranslation } from "../../scripts/build";

// Import the project layout.
import type { Properties } from "../../layouts/layout.astro";
import Layout from "../../layouts/layout.astro";

// Import the project components.
import IconByData from "../../components/icon-by-data.astro";
import ImageByData from "../../components/image-by-data.astro";

/**
 * Defines the static paths.
 * @returns The static paths.
 */
export async function getStaticPaths() {
    // Return the static paths.
    return getLanguages().map(language => ({ params: { languageId: language.id } }));
}

/**
 * Represents the parameters.
 */
export type Parameters = {

    /**
     * The language ID.
     */
    languageId: string;

};

// Get the parameters.
const parameters = Astro.params as Parameters;

// Get the current language.
const currentLanguage = getLanguage(parameters.languageId);

// Get the properties.
const properties: Properties = {
    pageId: "schedule",
    languageId: currentLanguage.id,
    languageDirection: currentLanguage.direction,
} as const;

---

<Layout {...properties}>
    <Fragment slot="content-image">
        <ImageByData class:list="object-cover w-full h-full" data={getImage("cover-schedule")} alternateText="" />
    </Fragment>
    <Fragment slot="content-text">
        <div class="w-full mt-6 mb-6 text-center">
            <span class="text-5xl font-cursive">{getTranslation(currentLanguage.id, "pages/[languageId]/schedule/title")}</span>
        </div>
        <div class="w-full mt-6 mb-6 text-center">
            <div class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-blue-800 light:bg-blue-200 light:text-blue-800 dark:border-blue-800 dark:bg-blue-200 dark:text-blue-800">
                <div class="basis-1/12 flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("info")} alternateText="" />
                </div>
                <div class="basis-11/12 flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/schedule/info")}</span>
                </div>
            </div>
        </div>
        <div class="w-full mt-6 mb-4 text-center">
            <span class="text-base font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/schedule/place")}</span>
        </div>
        <div class="w-full mt-4 mb-4 text-center">
            <ImageByData class:list="w-full" data={getImage("schedule-airisniemi")} alternateText="" />
        </div>
        <div class="w-full mt-4 mb-6 text-center">
            <a href="https://www.airisniemi.fi/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("cottage")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/schedule/place/airisniemi")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-6 mb-6 text-center">
            <span class="text-base font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/schedule/time")}</span>
        </div>
    </Fragment>
</Layout>
