---

// Import the project scripts.
import { getIcon, getImage, getLanguage, getLanguages, getTranslation } from "../../scripts/build";

// Import the project layout.
import type { Properties } from "../../layouts/layout.astro";
import Layout from "../../layouts/layout.astro";

// Import the project components.
import IconByData from "../../components/icon-by-data.astro";
import ImageByData from "../../components/image-by-data.astro";

/**
 * Defines the static paths.
 * @returns The static paths.
 */
export async function getStaticPaths() {
    // Return the static paths.
    return getLanguages().map(language => ({ params: { languageId: language.id } }));
}

/**
 * Represents the parameters.
 */
export type Parameters = {

    /**
     * The language ID.
     */
    languageId: string;

};

// Get the parameters.
const parameters = Astro.params as Parameters;

// Get the current language.
const currentLanguage = getLanguage(parameters.languageId);

// Get the properties.
const properties: Properties = {
    pageId: "travel",
    languageId: currentLanguage.id,
    languageDirection: currentLanguage.direction,
} as const;

---

<Layout {...properties}>
    <Fragment slot="content-image">
        <ImageByData class:list="object-cover w-full h-full" data={getImage("cover-travel")} alternateText="" />
    </Fragment>
    <Fragment slot="content-text">
        <div class="w-full mt-6 mb-6 text-left">
            <span class="text-5xl font-family-cursive font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/title")}</span>
        </div>
        <div class="w-full mt-6 mb-4 text-left">
            <span class="text-base font-family-serif font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/aboutTurku")}</span>
        </div>
        <div class="w-full mt-4 mb-2 text-left">
            <a href="https://www.google.com/maps/place/Turku/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("map")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/aboutTurku/googleMapsTurku")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://en.wikipedia.org/wiki/Turku/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("help")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/aboutTurku/wikipediaTurku")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://www.turku.fi/en/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("location-city")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/aboutTurku/cityOfTurku")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-6 text-left">
            <a href="https://en.visitturku.fi/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("location-city")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/aboutTurku/visitTurku")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-6 mb-4 text-left">
            <span class="text-2xl font-family-serif font-bold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/howToGetToTurku")}</span>
        </div>
        <div class="w-full mt-4 mb-4 text-left">
            <span class="text-base font-family-serif font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/getToFinland")}</span>
        </div>
        <div class="w-full mt-4 mb-2 text-left">
            <a href="https://www.airbaltic.com/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("flight")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/getToFinland/airBaltic")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://www.flysas.com/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("flight")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/getToFinland/sas")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://wizzair.com/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("flight")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/getToFinland/wizzAir")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-4 text-left">
            <a href="https://www.sales.vikingline.com/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("directions-boat")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/getToFinland/vikingLine")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-4 mb-4 text-left">
            <span class="text-base font-family-serif font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundFinland")}</span>
        </div>
        <div class="w-full mt-4 mb-2 text-left">
            <a href="https://www.vr.fi/en/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("directions-railway")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundFinland/vr")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://www.matkahuolto.fi/en/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("directions-bus")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundFinland/matkahuolto")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://www.onnibus.com/home/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("directions-bus")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundFinland/onnibus")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://www.24rent.fi/en/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("directions-car")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundFinland/24rent")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-6 text-left">
            <a href="https://www.firent.fi/en/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("directions-car")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundFinland/fiRent")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-6 mb-4 text-left">
            <span class="text-2xl font-family-serif font-bold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/howToGoAroundTurku")}</span>
        </div>
        <div class="w-full mt-4 mb-4 text-left">
            <span class="text-base font-family-serif font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundTurku")}</span>
        </div>
        <div class="w-full mt-4 mb-2 text-left">
            <a href="https://www.foli.fi/en/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("transit-ticket")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundTurku/foli")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://www.foli.fi/en/f%C3%B6li-bikes" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("directions-bike")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundTurku/cityBikes")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://taxidata.fi/en/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("local-taxi")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundTurku/taxiData")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://bolt.eu/en-fi/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("local-taxi")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundTurku/bolt")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-6 text-left">
            <a href="https://www.uber.com/fi/en/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("local-taxi")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/goAroundTurku/uber")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-6 mb-4 text-left">
            <span class="text-2xl font-family-serif font-bold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/whereToStayInTurku")}</span>
        </div>
        <div class="w-full mt-4 mb-4 text-left">
            <span class="text-base font-family-serif font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/stayInTurku")}</span>
        </div>
        <div class="w-full mt-4 mb-2 text-left">
            <a href="https://www.booking.com/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("laptop-windows")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/stayInTurku/booking")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://www.airbnb.com/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("laptop-windows")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/stayInTurku/airbnb")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://bobw.co/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("apartment")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/stayInTurku/bobw")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://centrohotel.com/en/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("apartment")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/stayInTurku/centro")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://www.omenahotels.com/en/" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("location-city")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/stayInTurku/omena")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-2 text-left">
            <a href="https://www.sokoshotels.fi/en/reservation/collection/TURKU?startDate=2025-07-04&endDate=2025-07-07&adults=2&numberOfRooms=1&promotionCode=CELEBRATION" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("location-city")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/stayInTurku/scandic")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-2 mb-4 text-left">
            <a href="https://www.scandichotels.com/hotelreservation/select-hotel?city=TURKU&fromDate=2025-07-4&toDate=2025-07-7&room%5b0%5d.adults=2&bookingCode=EVNT" target="_blank" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("location-city")} alternateText="" />
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <span class="text-base font-family-serif font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/stayInTurku/sokos")}</span>
                </div>
                <div class="flex flex-row justify-center items-center mx-1">
                    <IconByData class:list="w-6 h-6 min-w-6" data={getIcon("open-in-new")} alternateText="" />
                </div>
            </a>
        </div>
        <div class="w-full mt-4 mb-6 text-left">
            <span class="text-base font-family-serif font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/stayAroundTurku")}</span>
        </div>
        <div class="w-full mt-6 mb-6 text-left">
            <span class="text-2xl font-family-serif font-bold">{getTranslation(currentLanguage.id, "pages/[languageId]/travel/welcome")}</span>
        </div>
    </Fragment>
</Layout>
