---

// Import the project scripts.
import { getLanguage, getLanguages, getTranslation } from "../../scripts/build";

// Import the project layout.
import type { Properties } from "../../layouts/layout.astro";
import Layout from "../../layouts/layout.astro";

/**
 * Defines the static paths.
 * @returns The static paths.
 */
export async function getStaticPaths() {
    // Return the static paths.
    return getLanguages().map(language => ({ params: { languageId: language.id } }));
}

/**
 * Represents the parameters.
 */
export type Parameters = {

    /**
     * The language ID.
     */
    languageId: string;

};

// Get the parameters.
const parameters = Astro.params as Parameters;

// Get the current language.
const currentLanguage = getLanguage(parameters.languageId);

// Get the properties.
const properties: Properties = {
    title: getTranslation(currentLanguage.id, "pages/[languageId]/venue/title"),
    languageId: currentLanguage.id,
    languageDirection: currentLanguage.direction,
} as const;

---

<Layout {...properties}>
    <Fragment slot="content-image">
        <div class="relative z-0 object-cover w-full h-full bg-gradient-to-br light:from-slate-200 light:to-slate-500 dark:from-slate-500 dark:to-slate-800" />
    </Fragment>
    <Fragment slot="content-text">
        <div class="relative z-10 flex-auto flex flex-col justify-center items-center h-full w-full px-2">
            <div class="w-full max-w-96 m-5 p-5 rounded border light:bg-slate-100/50 dark:bg-slate-900/50">
                <div class="flex flex-col justify-center items-center w-full pt-4 pb-4 text-center">
                    <div class="w-full mx-1 my-1">
                        <span class="text-3xl font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/venue/title")}</span>
                    </div>
                </div>
            </div>
        </div>
    </Fragment>
</Layout>
